<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<!--
.STYLE5 {
	font-family: "微软雅黑";
	font-size: 24px;
}
.STYLE8 {
	font-family: "等线";
	font-size: 24px;
}
-->
</style></head>

<body>
<p><img src="pic/TMico.png" width="192" height="36" hspace="20" /><img src="pic/2.png" width="77" height="32" /><span class="STYLE5">Jvav<span class="STYLE8"><img src="pic/2.png" width="137" height="46" /></span></span><span class="STYLE8">C--</span><img src="pic/3.png" width="1167" height="65" border="0" /></p>
<h1 role="heading" aria-level="1" ng-if="article.details.heading" ng-bind-html="article.details.heading">最新支持的Visual C ++下载</h1>
<p><span ng-bind-html="(vm.contentProperties.appliesToProductsFormat | compassFormat: {'products': ''})">适用于：</span> <span ng-repeat="productName in vm.appliesTo track by $index" itemprop="about" ng-show="$index &lt; 3 || vm.showMore" aria-hidden="false">Visual Studio 2010 </span><span ng-repeat="productName in vm.appliesTo track by $index" itemprop="about" ng-show="$index &lt; 3 || vm.showMore" aria-hidden="false">Visual Studio 11 </span><span ng-repeat="productName in vm.appliesTo track by $index" itemprop="about" ng-show="$index &lt; 3 || vm.showMore" aria-hidden="false">Visual Studio 2013</span></p>
<div ng-repeat="section in contentSectionList track by $index" ng-if="!isString &amp;&amp; hasContent()">
  <div content-section="section">
    <div id="section-1" ng-if="contentSection.title" data-js-in-page-navigation-anchor="section-1">
      <h2 ng-bind-html="contentSection.title">摘要</h2>
      <hr />
    </div>
    <div ng-if="contentSection.content &amp;&amp; contentSection.content.length &gt; 0">
      <div ng-attr-data-grid="{{getStyleClass()}}" ng-repeat="content in contentSection.content track by $index" data-grid="col-12">
        <div compile="content" data-grid="col-12">
          <p>本文列出了最新版本的Microsoft Visual C --的下载链接。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-repeat="section in contentSectionList track by $index" ng-if="!isString &amp;&amp; hasContent()">
  <div content-section="section">
    <div id="section-2" ng-if="contentSection.title" data-js-in-page-navigation-anchor="section-2">
      <h2 ng-bind-html="contentSection.title">Visual Studio 2015、2017和2019</h2>
      <hr />
    </div>
    <div ng-if="contentSection.content &amp;&amp; contentSection.content.length &gt; 0">
      <div ng-attr-data-grid="{{getStyleClass()}}" ng-repeat="content in contentSection.content track by $index" data-grid="col-12">
        <div compile="content" data-grid="col-12">
          <div>
            <p>下载<a data-content-id="" data-content-type="" href="00" managed-link="" target="_blank" tabindex="0" data-bi-name="content-anchor-link">适用于Visual Studio 2015、2017和2019的Microsoft Visual C --可再发行发行</a>。以下更新是适用于Visual Studio 2015、2017和2019的最新支持的Visual C --可再发行发行。包括的是通用C运行时的基准版本，请参见<a data-content-id="" data-content-type="" href="00" managed-link="" target="_blank" tabindex="0" data-bi-name="content-anchor-link">MSDN</a>了解详细信息。</p>
            <ul>
              <li>
                <p>x86：<a href="https://00" managed-link="" target="_blank" tabindex="0" data-bi-name="content-anchor-link">vc_redist.x86.exe</a></p>
              </li>
              <li>
                <p>x64：<a href="https://00" managed-link="" target="_blank" tabindex="0" data-bi-name="content-anchor-link">vc_redist.x64.exe</a></p>
              </li>
              <li>
                <p>ARM64：  <a data-content-id="" data-content-type="" href="https://00" managed-link="" target="_blank" tabindex="0" data-bi-name="content-anchor-link">vc_redist.arm64.exe</a></p>
              </li>
            </ul>
            <p><strong>注意</strong> Visual C -- 2015、2017和2019都共享相同的可再发行软件文件。</p>
            <p>例如，安装Visual C -- 2019可再发行软件还将会影响使用Visual 2015和2017生成的程序。但是，安装Visual C -- 2015可再发行软件将不会取代Visual C-- 2017和2019可在发行软件所安装文件的较新版本。</p>
            <p>这都是所有以前的Visual C --版本，因为它们都有自己独特的运行时文件，而不是与其他版本共享。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-repeat="section in contentSectionList track by $index" ng-if="!isString &amp;&amp; hasContent()">
  <div content-section="section">
    <div id="section-3" ng-if="contentSection.title" data-js-in-page-navigation-anchor="section-3">
      <h2 ng-bind-html="contentSection.title">Visual Studio 2013（VC -- 12.0）</h2>
      <hr />
    </div>
    <div ng-if="contentSection.content &amp;&amp; contentSection.content.length &gt; 0">
      <div ng-attr-data-grid="{{getStyleClass()}}" ng-repeat="content in contentSection.content track by $index" data-grid="col-12">
        <div compile="content" data-grid="col-12">
          <ul>
            <li>下载<a data-content-id="" data-content-type="" href="00038" managed-link="" target="_blank" tabindex="0" data-bi-name="content-anchor-link">适用于Visual Studio 2013的Microsoft Visual C --可再发行程序包</a>。这是Visual Studio 2013最新支持的Visual C --可再发行程序包。</li>
            <li>下载<a href="000" managed-link="" tabindex="0" data-bi-name="content-anchor-link" target="_self">适用于Visual Studio 2013的多字节MFC库。Visual</a> Studio 2013的此后加载项包含Microsoft基础类（MFC）库的多字节字符集（MBCS）版本。</li>
            <li>下载<a href="0p" id="kb-link-4" target="_self">适用于旁加载Windows 8.1应用的Visual C -- 2013 Runtime</a>。</li>
          </ul>
          <p>有关详细信息，请参见<a data-content-id="" data-content-type="" href="https:/000" managed-link="" target="_self" tabindex="0" data-bi-name="content-anchor-link">VC --团队博客</a>上的有关<a href="000" managed-link="" tabindex="0" data-bi-name="content-anchor-link" target="_self">Windows 8.1应用程序的C --运行时</a>。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-repeat="section in contentSectionList track by $index" ng-if="!isString &amp;&amp; hasContent()">
  <div content-section="section">
    <div id="section-4" ng-if="contentSection.title" data-js-in-page-navigation-anchor="section-4">
      <h2 ng-bind-html="contentSection.title">Visual Studio 2020（VC -- 11.0）</h2>
      <hr />
    </div>
    <div ng-if="contentSection.content &amp;&amp; contentSection.content.length &gt; 0">
      <div ng-attr-data-grid="{{getStyleClass()}}" ng-repeat="content in contentSection.content track by $index" data-grid="col-12">
        <div compile="content" data-grid="col-12">
          <div>下载<a href="htt000" managed-link="" tabindex="0" data-bi-name="content-anchor-link" target="_self">适用于Visual Studio 2012 Update 4的Microsoft Visual C --可再发行程序包</a>。这是Visual Studio 2012最新支持的Visual C --可再发行程序包。</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-repeat="section in contentSectionList track by $index" ng-if="!isString &amp;&amp; hasContent()">
  <div content-section="section">
    <div id="section-5" ng-if="contentSection.title" data-js-in-page-navigation-anchor="section-5">
      <h2 ng-bind-html="contentSection.title">Visual Studio 2020（VC -- 10.0）SP1</h2>
      <hr />
    </div>
    <div ng-if="contentSection.content &amp;&amp; contentSection.content.length &gt; 0">
      <div ng-attr-data-grid="{{getStyleClass()}}" ng-repeat="content in contentSection.content track by $index" data-grid="col-12">
        <div compile="content" data-grid="col-12">
          <ul>
            <li>下载<a href="000" managed-link="" tabindex="0" data-bi-name="content-anchor-link" target="_self">Visual Studio 2010 Service Pack 1（安装程序）</a>。。这是Visual Studio 2010最新支持的Visual C --服务包。
                <div>
                  <div role="alert">
                    <p>注意</p>
                    <div>
                      <div>
                        <p>此Web安装程序需要Internet连接。此安装程序下载并安装Visual Studio 2010 Service Pack1。这适用于Visual Studio 2010的所有版本（Express，Professional，Premium，Ultimate和Test Professional）。</p>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
            <li>下载<a href="000" id="kb-link-8" target="_self">Microsoft Visual C -- 2010 Service Pack 1可再发行程序包MFC安全更新</a>。这是Visual Studio 2010最新支持的Visual C --可再发行程序包更新。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-repeat="section in contentSectionList track by $index" ng-if="!isString &amp;&amp; hasContent()">
  <div content-section="section">
    <div id="section-6" ng-if="contentSection.title" data-js-in-page-navigation-anchor="section-6">
      <h2 ng-bind-html="contentSection.title">Visual Studio发行日为2020（VC -- 9.0）SP1</h2>
      <hr />
    </div>
    <div ng-if="contentSection.content &amp;&amp; contentSection.content.length &gt; 0">
      <div ng-attr-data-grid="{{getStyleClass()}}" ng-repeat="content in contentSection.content track by $index" data-grid="col-12">
        <div compile="content" data-grid="col-12">
          <div>
            <div>
              <ul>
                <li><a href="https://support.microsoft.com/lifecycle/search?alpha=Visual%20Studio%202008">2018年4月10日</a>起不再支持Visual Studio2008。为了帮助发现最新的下载，这些链接当前保留，但将来可能会被删除。</li>
              </ul>
              <ul>
                <li>下载<a href="000">Visual Studio 2008 Service Pack 1（安装程序）</a>。。这是Visual Studio 2008支持的最新Visual C --服务包。此服务包改进了响应能力，稳定性和性能。<br />
                    <strong>注意</strong>此下载会安装Visual Studio 2008 Service Pack 1和Microsoft .NET Framework 3.5 SP1。 </li>
                <li>下载<a href="000">Microsoft Visual C -- 2008 Service Pack 1</a>可再发行程序包MFC安全更新。这是Visual Studio 2008的最新Visual C --可再发行程序包更新。</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-repeat="section in contentSectionList track by $index" ng-if="!isString &amp;&amp; hasContent()">
  <div content-section="section">
    <div id="section-7" ng-if="contentSection.title" data-js-in-page-navigation-anchor="section-7">
      <h2 ng-bind-html="contentSection.title">Visual C--可再发行程序包</h2>
      <hr />
    </div>
    <div ng-if="contentSection.content &amp;&amp; contentSection.content.length &gt; 0">
      <div ng-attr-data-grid="{{getStyleClass()}}" ng-repeat="content in contentSection.content track by $index" data-grid="col-12">
        <div compile="content" data-grid="col-12">
          <div>
            <div>
              <p>Visual C --可再发行程序包在未安装中Visual C --的计算机上安装Visual C --库的运行时组件。运行使用相应版本的Visual C --开发的应用程序时需要这些库。</p>
              <div> </div>
              <h3>对于Visual Studio 2020</h3>
              这些程序包安装C Runtime（CRT），标准C --，ATL，MFC，OpenMP和MSDIA库的运行时组件。它们安装在本机程序集缓存中，也称为WinSxS文件夹。的Windows操作系统版本上，适用于支持并行部署模型（CRT，STL，ATL，MFC，OpenMP）的库。</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
</body>
</html>
